$masala: rgba(104, 108, 112, 1);
$earlBlack: rgba(35, 31, 32, 1);
$stTroaz: rgba(38, 98, 145, 1);
$silver: rgba(199, 199, 199, 1);
$whiteSmoke: rgba(243, 243, 243, 1);
$mercury: rgba(232, 232, 232, 1);
